* {
  box-sizing: border-box;
}

body {
  background-color: darkgrey;
}

h1 {
  text-align: center;
}

fieldset {
  width: 100%;
  max-width: 450px;
  margin: auto;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  border: 2px solid black;
  padding: 20px;
  background-color: whitesmoke;
}

legend {
  width: 100%;
  max-width: 450px;
  margin: auto;
  border-radius: 20px;
  border: 2px solid black;
  padding: 5px;
  background-color: darkgray;
  font-weight: bolder;
  text-align: center;
}

.form-group {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

input {
  padding: 5px;
  width: 100%;
  max-width: 200px;
  border-radius: 20px;
  border: 2px solid black;
}

label {
  text-align: left;
  width: 120px;
  min-width: 80px;
  font-weight: bold;
}

.separator {
  width: 20px;
  text-align: center;
}

.kosong {
  width: 200px;
}

.submit {
  text-align: center;
}

input[type="submit"] {
  width: 150px;
  text-align: center;
  cursor: pointer;
  padding: 5px;
  background-color: darkgray;
  font-weight: bold;
}

.popup-notif {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  background-color: aquamarine;
  color: navy;
  padding: 15px 25px;
  border: 2px solid navy;
  border-radius: 30px;
  font-weight: bold;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
  z-index: 9999;
  transition:
    opacity 0.5s ease,
    visibility 0.5s;
}

.popup-notif.show {
  opacity: 1;
  visibility: visible;
}
