body {
  margin-top: 0;
}

h1 {
  margin-top: -5px;
  margin-bottom: clamp(15px, 5vw, 40px);
  text-align: center;
  font-size: clamp(24px, 6vw, 32px);
}

.main-header {
  display: grid;
  grid-template-columns: 1fr min(100px, 13vw) 1fr;
  align-items: center;
  border: 3px solid black;
  border-radius: 20px;
  margin-bottom: 10px;
  font-size: clamp(9px, 3vw, 16px);
  align-content: space-between;
}
nav {
  display: flex;
  justify-content: space-evenly;
}
.av-center {
  display: flex;
  position: relative;
}

.av-circle {
  position: absolute;
  display: flex;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: min(90px, 13vw);
  height: min(90px, 13vw);
  background-color: white;
  border: 3px solid black;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  z-index: 10;
}
